{% extends "layout.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-6 offset-3 text-center">
      <h1 class="mt-5 mb-5 p-2 mb-2 bg-secondary text-white">edit profile</h1>
    </div>

    <div class="col-6 offset-3 text-center">


      <form action="/edit" method="post" enctype="multipart/form-data">

        <div class="input-group mb-3">
            <input type="text" name="belong" class="form-control" aria-describedby="basic-addon1" placeholder="belong" value="{{ user.belong }}">
        </div>

        <div class="input-group mb-3">
            <input type="text" name="position" class="form-control" aria-describedby="basic-addon1" placeholder="position" value="{{ user.position }}">
        </div>

        <div class="input-group mb-3">
            <input type="tel" name="tel" class="form-control" aria-describedby="basic-addon1" placeholder="tel" value="{{ user.tel }}">
        </div>

        <div class="input-group mb-3">
            <input type="text" name="email" class="form-control" aria-describedby="basic-addon1" placeholder="e-mail" value="{{ user.email }}">
        </div>

        <div class="input-group mb-3">
            <input type="text" name="comment" class="form-control" aria-describedby="basic-addon1" placeholder="comment" value="{{ user.comment }}">
        </div>

        <div class="input-group mb-3">
            <input type="text" name="link" class="form-control" aria-describedby="basic-addon1" placeholder="link" value="{{ user.link }}">
        </div>
            <input type="file" name="icon" class="form-control" aria-describedby="basic-addon1" capture="camera" value="take a photo">

        <div class="input-group mb-3 text-center">
            <input type="submit" value="変更">
        </div>
      </form>
    </div>
  </div>
</div>


{% endblock %}