{% extends "layout.html" %}

{% block content %}

<div class="col-6 offset-3 text-center">
    <h1 class="mt-5 mb-5 p-2 mb-2 bg-secondary text-white">My Page</h1>
</div>

<!-- <h1 class="mt-5 mb-5">My Page</h1> -->

<div class="mt-2 col-md-6 offset-md-3 text-center">

    <!-- <div class="input-group mb-3"> -->

    <div class="d-grid col-md-6 mx-auto">
        <form action="/edit">
            <input type="submit" value="編集" class="btn btn-outline-secondary btn-lg btn-haruka"> 
        </form>
    </div>
<br>
    <div class="d-grid gap-2 col-6 mx-auto">
        <form action="/list">
            <input type="submit" value="名刺一覧" class="btn btn-outline-secondary btn-lg btn-haruka">
        </form>
    </div>
<br>
    <div class="d-grid gap-2 col-6 mx-auto">
        <form action="/search">
            <input type="submit" value="名刺交換" class="btn btn-outline-secondary btn-lg btn-haruka">
        </form>
    </div>
<br>


    <div class="d-grid gap-2 col-6 mx-auto">
        <form action="/create" method="post">
            <input type="submit" value="名刺生成" class="btn btn-outline-secondary btn-lg btn-haruka">
        </form>
    </div>

<br>
    <div class="d-grid gap-2 col-6 mx-auto">
        <form action="/logout" method="post">
            <input type="submit" value="Logout" class="btn btn-secondary btn-lg btn-haruka">
        </form>        
    </div>


    <!-- </div> -->





</div>



{% endblock %}