{% extends "layout.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-4 offset-4 text-center">
        <h1 class="mt-5 mb-5">Sign Up</h1>

        <form action="/signup" method="post" enctype="multipart/form-data">

        <div class="input-group mb-3">
          <input type="text" name="name" class="form-control" placeholder="Name" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
          <input type="text" name="create_id" class="form-control" aria-describedby="basic-addon1" placeholder="create_id">
        </div>
        <div class="input-group mb-3">
          <input type="text" name="name" placeholder="Name">
        </div>
        <div class="input-group mb-3">
          <input type="password" name="password" placeholder="Password">
        </div>
        <div class="input-group mb-3">
          <input type="text" name="belong" placeholder="belong">
        </div>
        <div class="input-group mb-3">
          <input type="text" name="position" placeholder="position">
        </div>
        <div class="input-group mb-3">
          <input type="tel" name="tel" placeholder="tel">
        </div>
        <div class="input-group mb-3">
          <input type="text" name="email" placeholder="e-mail">
        </div>
        <div class="input-group mb-3">
          <input type="text" name="comment" placeholder="comment">
        </div>
        <div class="input-group mb-3">
          <input type="text" name="link" placeholder="link">
        </div>
        <div>
          <input id="upload" type="file" name="icon" accept="image/*" capture="camera" value="take a photo">
        </div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>


        <!-- この写真はどこになんて名前で保存されるのか -->
          <input type="submit" value="登録">
        </form>
    </div>
  </div>
</div>
    


        <div class="input-group mb-3">
            <input type="text" name="name" class="form-control" placeholder="Name" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <input type="text" name="password" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <input class="btn btn-info" type="submit" value="SignUp">


</form>

{% endblock %}