{% extends "layout.html" %}

{% block content %}

<form action="/signup" method="post" enctype="multipart/form-data">
  <input type="text" name="create_id" placeholder="create_id">
  <input type="text" name="name" placeholder="Name">
  <input type="password" name="password" placeholder="Password">
  <input type="text" name="belong" placeholder="belong">
  <input type="text" name="position" placeholder="position">
  <input type="tel" name="tel" placeholder="tel">
  <input type="text" name="email" placeholder="e-mail">
  <input type="text" name="comment" placeholder="comment">
  <input type="text" name="link" placeholder="link">

  <input id="upload" type="file" name="icon" accept="image/*" capture="camera" value="take a photo">
<!-- この写真はどこになんて名前で保存されるのか -->
  <input type="submit" value="登録">
</form>

{% endblock %}